﻿<!DOCTYPE html>
<html>
<head lang="pt-br">
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hino</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1"> <!-- media="(device-height: 568px)">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="hinoApp"
      ng-controller="MainController as MainCtrl"
      ng-init="MainCtrl.init()">

    <div id="Modal" class="modal check-element animate-show-hide"
         ng-show="MainCtrl.showLoad || MainCtrl.showModal">
        <div class="lds-facebook" ng-show="MainCtrl.showLoad">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hino", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-show="MainCtrl.isAuthenticated()">@Html.ActionLink("Estabelecimentos", "Index", "Establishment")</li>
                    <li ng-show="MainCtrl.isAuthenticated()" ><a style="cursor:pointer" ng-click="MainCtrl.LogOut()">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hino - Salesforce</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-touch")
    @Scripts.Render("~/bundles/angular-sanitize")
    @Scripts.Render("~/bundles/angular-route")
    @Scripts.Render("~/bundles/angular-resource")
    @Scripts.Render("~/bundles/angular-ext")
    @Scripts.Render("~/bundles/angular-messages")
    @Scripts.Render("~/bundles/angular-format")
    @Scripts.Render("~/bundles/angular-loader")
    @Scripts.Render("~/bundles/angular-cookies")
    @Scripts.Render("~/bundles/angular-aria")
    @Scripts.Render("~/bundles/angular-animate")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
