﻿@model Hino.Salesforce.Aplication.ViewModels.General.GEEstablishmentsCreateVM

@{
    ViewBag.Title = "Edit";
}

<div class="row"
     ng-controller="EstablishmentController as EstablishmentCtrl"
     ng-init="EstablishmentCtrl.initEdit()">
    <h2>Estabelecimentos</h2>

    <form id="frmCreateEstablishment"
          name="frmCreateEstablishment"
          ng-submit="EstablishmentCtrl.updateEstablishment()" novalidate>
        <input name="Id"
               id="Id"
               type="hidden"
               value="@ViewBag.Id" />
        <div class="form-horizontal">
            <h4>Editar Estabelecimento</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="RazaoSocial">Raz&#227;o social *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="RazaoSocial"
                           name="RazaoSocial"
                           type="text"
                           ng-model="EstablishmentCtrl.establishment.RazaoSocial"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.RazaoSocial.$invalid && !frmCreateEstablishment.RazaoSocial.$pristine">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault, "Razão social")
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.RazaoSocial.MessageServer">
                        {{frmCreateEstablishment.RazaoSocial.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="NomeFantasia">Nome fantasia *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="NomeFantasia"
                           name="NomeFantasia"
                           type="text"
                           ng-model="EstablishmentCtrl.establishment.NomeFantasia"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.NomeFantasia.$invalid && !frmCreateEstablishment.NomeFantasia.$pristine">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault, "Nome fantasia")
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.NomeFantasia.MessageServer">
                        {{frmCreateEstablishment.NomeFantasia.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Email">E-mail *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="Email"
                           name="Email"
                           type="email"
                           ng-model="EstablishmentCtrl.establishment.Email"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Email.$invalid && !frmCreateEstablishment.Email.$pristine &&
                          frmCreateEstablishment.Email.$error.required">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault, "E-mail")
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Email.$invalid && !frmCreateEstablishment.Email.$pristine &&
                          frmCreateEstablishment.Email.$error.email">
                        @Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.InvalidEmail
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Email.MessageServer">
                        {{frmCreateEstablishment.Email.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Phone">Telefone *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="Phone"
                           name="Phone"
                           type="tel"
                           ng-minlength="14"
                           ng-maxlength="15"
                           minlength="14"
                           maxlength="15"
                           onkeydown="javascript:hinoApp.InputMask.fMasc(this, hinoApp.InputMask.mTel);"
                           ng-model="EstablishmentCtrl.establishment.Phone"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Phone.$invalid &&
                          !frmCreateEstablishment.Phone.$pristine &&
                          frmCreateEstablishment.Phone.$error.required">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault, "Telefone")
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Phone.$invalid &&
                          !frmCreateEstablishment.Phone.$pristine &&
                          frmCreateEstablishment.Phone.$error.minlength">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.PhoneInvalid, "Telefone")
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Phone.MessageServer">
                        {{frmCreateEstablishment.Phone.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="CNPJCPF">CNPJ *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="CNPJCPF"
                           name="CNPJCPF"
                           type="text"
                           ng-minlength="19"
                           ng-maxlength="19"
                           minlength="19"
                           maxlength="19"
                           onkeydown="javascript:hinoApp.InputMask.fMasc(this, hinoApp.InputMask.mCNPJ);"
                           ng-model="EstablishmentCtrl.establishment.CNPJCPF"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.CNPJCPF.$invalid && !frmCreateEstablishment.CNPJCPF.$pristine &&
                          frmCreateEstablishment.CNPJCPF.$error.required">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault, "CNPJ")
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.CNPJCPF.$invalid &&
                          !frmCreateEstablishment.CNPJCPF.$pristine &&
                          frmCreateEstablishment.CNPJCPF.$error.minlength">
                        @Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.InvalidCNPJ
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.CNPJCPF.MessageServer">
                        {{frmCreateEstablishment.CNPJCPF.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Devices">N&#176; Dispositivos *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="Devices"
                           name="Devices"
                           type="number"
                           ng-model="EstablishmentCtrl.establishment.Devices"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Devices.$invalid && !frmCreateEstablishment.Devices.$pristine">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault, "N° Dispositivos")
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.Devices.MessageServer">
                        {{frmCreateEstablishment.Devices.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="PIS">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.PIS *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="PIS"
                           name="PIS"
                           type="number"
                           ng-model="EstablishmentCtrl.establishment.PIS"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.PIS.$invalid && !frmCreateEstablishment.PIS.$pristine">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault,
                                Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.PIS)
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.PIS.MessageServer">
                        {{frmCreateEstablishment.PIS.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="COFINS">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.COFINS *</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="COFINS"
                           name="COFINS"
                           type="number"
                           ng-model="EstablishmentCtrl.establishment.COFINS"
                           required />
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.COFINS.$invalid && !frmCreateEstablishment.COFINS.$pristine">
                        @string.Format(Hino.Salesforce.Infra.Cross.Resources.ValidationMessagesResource.RequiredDefault, 
                                Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.COFINS)
                    </span>
                    <span class="field-validation-valid text-danger"
                          ng-show="frmCreateEstablishment.COFINS.MessageServer">
                        {{frmCreateEstablishment.COFINS.MessageServer}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Devices">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.IsActive</label>
                <div class="col-md-10">
                    <input id="ckeIsActive{{EstablishmentCtrl.establishment.Id}}" name="ckeIsActive{{EstablishmentCtrl.establishment.Id}}"
                           type="checkbox"
                           ng-model="EstablishmentCtrl.establishment.IsActive" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="EstablishmentKey">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.EstablishmentKey</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="EstablishmentKey"
                           name="EstablishmentKey"
                           type="text"
                           readonly="readonly"
                           value="@ViewBag.EstablishmentKey" />
                    <span class="field-validation-valid text-danger"
                          data-valmsg-for="EstablishmentKey"
                          data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="UniqueKey">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.UniqueKey</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line"
                           id="UniqueKey"
                           name="UniqueKey"
                           type="text"
                           readonly="readonly"
                           value="@ViewBag.UniqueKey" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="UniqueKey" data-valmsg-replace="true"></span>
                </div>
            </div>




            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <ul>
                        <li ng-repeat="err in EstablishmentCtrl.listErrors">
                            <span class="field-validation-valid text-danger">
                                {{ err.Messages[0] }}
                            </span>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>


    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
    <div class="row">
        <h4>Dispositivos</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.NickName</th>
                        <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.UserKey</th>
                        <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.Created</th>
                        <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.Modified</th>
                        <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.IsActive</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="row-table" ng-repeat="device in EstablishmentCtrl.listDevices">
                        <td class="col-table" colspan="2">{{device.NickName}}</td>
                        <td class="col-table" colspan="2">{{device.UserKey}}</td>
                        <td class="col-table" colspan="2">{{device.Created|date:"dd/MM/yyyy HH:mm"}}</td>
                        <td class="col-table" colspan="2">{{device.Modified|date:"dd/MM/yyyy HH:mm"}}</td>
                        <td class="col-table" colspan="2">
                            <input id="ckeIsActive{{device.Id}}" name="ckeIsActive{{device.Id}}"
                                   type="checkbox"
                                   readonly="readonly"
                                   disabled="disabled"
                                   ng-model="device.IsActive"
                                   value="{{device.IsActive}}" />
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
