﻿
@{
    ViewBag.Title = "Estabelecimentos";
}
<div class="row"
     ng-controller="EstablishmentController as EstablishmentCtrl"
     ng-init="EstablishmentCtrl.initList()">
    <h2>Establecimentos</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Novo", "Create", "Establishment", new { @class= "btn btn-default" })
                    </th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.RazaoSocial</th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.NomeFantasia</th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.CNPJCPF</th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.Email</th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.Phone</th>
                    <th>@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.Devices</th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.Created</th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.Modified</th>
                    <th colspan="2">@Hino.Salesforce.Infra.Cross.Resources.FieldsNameResource.IsActive</th>

                </tr>
            </thead>
            <tbody>
                <tr class="row-table" ng-repeat-start="estab in EstablishmentCtrl.listEstablishments">
                    <td class="col-table">
                        <a class="btn btn-default" ng-href="/Establishment/Edit/{{ estab.Id }}/?pEstablishmentKey={{estab.EstablishmentKey}}&pKey={{ estab.UniqueKey }}&pId={{ estab.Id }}">Editar</a>
                    </td>
                    <td class="col-table" colspan="2">{{estab.RazaoSocial}}</td>
                    <td class="col-table" colspan="2">{{estab.NomeFantasia}}</td>
                    <td class="col-table" colspan="2">{{estab.CNPJCPF}}</td>
                    <td class="col-table" colspan="2">{{estab.Email}}</td>
                </tr>
                <tr ng-repeat-end>
                    <td class="col-table">
                        <button class="btn btn-danger" 
                                type="button"
                                ng-click="EstablishmentCtrl.deleteEstablishment(estab.EstablishmentKey, estab.UniqueKey, estab.Id)"
                                >Excluir</button>
                    </td>
                    <td class="col-table" colspan="2">{{estab.Phone}}</td>
                    <td class="col-table">{{estab.Devices}}</td>
                    <td class="col-table" colspan="2">{{estab.Created|date:"dd/MM/yyyy HH:mm"}}</td>
                    <td class="col-table" colspan="2">{{estab.Modified|date:"dd/MM/yyyy HH:mm"}}</td>
                    <td class="col-table" colspan="2">
                        <input id="ckeIsActive{{estab.Id}}" name="ckeIsActive{{estab.Id}}"
                               type="checkbox"
                               disabled="disabled"
                               ng-model="estab.IsActive"
                               value="{{estab.IsActive}}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>