﻿<div class="jumbotron">
    <h1>Hino Salesforce API</h1>
    <p class="lead">Servidor de Gerenciamento das requisições do aplicativo de vendas</p>
    <p><a target="_blank" href="http://hinosistemas.com.br" class="btn btn-primary btn-lg">Veja mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Gerenciamento de vendas</h2>
        <p>Gerenciamento das requisições de pedidos de vendas <span>Hino Salesforce</span></p>
        <p><a class="btn btn-default" target="_blank" href="https://play.google.com/store/apps/details?id=com.hinosistemas.Hino.Salesforce.App">Conheça &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Otimização de rotas</h2>
        <p>Otimização de rotas de entregas de pedidos do <span>Hino ERP</span></p>
        <p><a class="btn btn-default" target="_blank" href="http://hinosistemas.com.br">Conheça &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gerenciamento de CRM</h2>
        <p>Gerenciamento de requisições do <span>Hino CRM</span> integrado ao <span>Hino ERP</span></p>
        <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301872">Conheça &raquo;</a></p>
    </div>
</div>
<style>
    span {
        font-weight: bold;
    }
</style>
