﻿@using Hino.Salesforce.Aplication.ViewModels.Auth
@model LoginVM
@{
    ViewBag.Title = "Login";
}


<div class="row"
     ng-controller="LoginController as LoginCtrl"
     ng-init="LoginCtrl.init()">
    <div class="col-md-offset-3 col-md-6 ">
        <h2>Login</h2>
        <section id="loginForm">
            <form class="form-horizontal" method="post" role="form">
                <h4>Informe seus dados para realizar o login</h4>
                <hr />
                @Html.Hidden("HinoId", (string)ViewBag.HinoId)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input class="form-control" id="Email" name="Email" type="text" ng-model="LoginCtrl.user.user_email" />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input class="form-control" id="Password" name="Password" type="password" ng-model="LoginCtrl.user.pass" />
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="Entrar"
                               ng-click="LoginCtrl.btnAuthenticate()" 
                               class="btn btn-primary" />
                    </div>
                    <!--<div class="col-md-4">
                        Html.ActionLink("Primeiro acesso", "Register", new { }, new { class = "btn btn-default", role = "button" })
                    </div>-->
                </div>
                <!--<p>
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Esqueci minha senha", "ForgotPassword")
                    </div>                
                </p>-->
            </form>
        </section>
    </div>
</div>

