﻿@{
    ViewBag.Title = "Mapa das rotas";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mapa da rota</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src='https://developer.here.com/javascript/src/iframeheight.js'></script>
    @Styles.Render("~/Content/map")

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            left: 0;
            top: 0;
            width: 99.9%;
            height: 99.8%;
        }
        .directions {
            margin: 0;
            margin-left: -40px;
            margin-right: 1px;
            font-size: small;
            list-style-position:inside;
        }

        .directions li span.arrow {
            display: inline-block;
            min-width: 28px;
            min-height: 28px;
            background-position: 0px;
            background-image: url("https://heremaps.github.io/maps-api-for-javascript-examples/map-with-route-from-a-to-b/img/arrows.png");
            position: relative;
            top: 200%;
        }

        .directions li {
            font-weight: normal;
            text-align: left;
            margin: 0px;
            padding-left: 10px;
        }

            .directions li:hover {
                background-color: rgba(208, 217, 233, 1);
            }
        
            .directions li span.depart {
                background-position: -28px;
            }

        .directions li span.rightUTurn {
            background-position: -56px;
        }

        .directions li span.leftUTurn {
            background-position: -84px;
        }

        .directions li span.rightFork {
            background-position: -112px;
        }

        .directions li span.leftFork {
            background-position: -140px;
        }

        .directions li span.rightMerge {
            background-position: -112px;
        }

        .directions li span.leftMerge {
            background-position: -140px;
        }

        .directions li span.slightRightTurn {
            background-position: -168px;
        }

        .directions li span.slightLeftTurn {
            background-position: -196px;
        }

        .directions li span.rightTurn {
            background-position: -224px;
        }

        .directions li span.leftTurn {
            background-position: -252px;
        }

        .directions li span.sharpRightTurn {
            background-position: -280px;
        }

        .directions li span.sharpLeftTurn {
            background-position: -308px;
        }

        .directions li span.rightRoundaboutExit1 {
            background-position: -616px;
        }

        .directions li span.rightRoundaboutExit2 {
            background-position: -644px;
        }

        .directions li span.rightRoundaboutExit3 {
            background-position: -672px;
        }

        .directions li span.rightRoundaboutExit4 {
            background-position: -700px;
        }

        .directions li span.rightRoundaboutPass {
            background-position: -700px;
        }

        .directions li span.rightRoundaboutExit5 {
            background-position: -728px;
        }

        .directions li span.rightRoundaboutExit6 {
            background-position: -756px;
        }

        .directions li span.rightRoundaboutExit7 {
            background-position: -784px;
        }

        .directions li span.rightRoundaboutExit8 {
            background-position: -812px;
        }

        .directions li span.rightRoundaboutExit9 {
            background-position: -840px;
        }

        .directions li span.rightRoundaboutExit10 {
            background-position: -868px;
        }

        .directions li span.rightRoundaboutExit11 {
            background-position: 896px;
        }

        .directions li span.rightRoundaboutExit12 {
            background-position: 924px;
        }

        .directions li span.leftRoundaboutExit1 {
            background-position: -952px;
        }

        .directions li span.leftRoundaboutExit2 {
            background-position: -980px;
        }

        .directions li span.leftRoundaboutExit3 {
            background-position: -1008px;
        }

        .directions li span.leftRoundaboutExit4 {
            background-position: -1036px;
        }

        .directions li span.leftRoundaboutPass {
            background-position: 1036px;
        }

        .directions li span.leftRoundaboutExit5 {
            background-position: -1064px;
        }

        .directions li span.leftRoundaboutExit6 {
            background-position: -1092px;
        }

        .directions li span.leftRoundaboutExit7 {
            background-position: -1120px;
        }

        .directions li span.leftRoundaboutExit8 {
            background-position: -1148px;
        }

        .directions li span.leftRoundaboutExit9 {
            background-position: -1176px;
        }

        .directions li span.leftRoundaboutExit10 {
            background-position: -1204px;
        }

        .directions li span.leftRoundaboutExit11 {
            background-position: -1232px;
        }

        .directions li span.leftRoundaboutExit12 {
            background-position: -1260px;
        }

        .directions li span.arrive {
            background-position: -1288px;
        }

        .directions li span.leftRamp {
            background-position: -392px;
        }

        .directions li span.rightRamp {
            background-position: -420px;
        }

        .directions li span.leftExit {
            background-position: -448px;
        }

        .directions li span.rightExit {
            background-position: -476px;
        }

        .directions li span.ferry {
            background-position: -1316px;
        }

        .logDiv {
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            position: absolute;
            top: 5px;
            left: 5px;
            cursor: pointer;
            /*height: auto;
            max-height: 90%;
            width: 250px;*/
            margin: 0;
            padding: 5px 0 0 0;
            font-size: 12px;
            text-align: center;
            font-weight: bold;
            border: solid 1px #d0d9e9;
            background-color: rgba(208, 217, 233, .6);
        }
            .logDiv p {
                margin: 0;
                padding: 0px;
            }

            .logDiv.collapse {
                height: 25px;
                width: 100px;
                max-height: 25px;
                overflow: hidden;
                border: none;
                background: #fff;
                box-shadow: 0em 0 0.4em 0 rgba(15, 22, 33, 0.6);
                border-radius: 0.5em;
            }

            .logDiv.expand {
                border: solid 1px #d0d9e9;
                width: 250px;
                height: auto;
                max-height: 90%;
                overflow: auto;
            }
            .logDiv:hover {
                background-color: rgba(208, 217, 233, .8);
            }

        .log {
            text-align: left;
            font-weight: normal;
            margin: 5px 0 0 0;
            padding: 0;
            list-style: none;
            font-size: 12px;
        }

        .log-entry {
            cursor: pointer;
            padding: 5px;
            border-bottom: 1px solid #d0d9e9;
            background-color: rgba(255, 255, 255, .6);
        }

            .log-entry:hover {
                background-color: rgba(208, 217, 233, .8);
            }


        #panel {
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            max-height: 90%;
            margin: 0;
            padding: 5px 0 0 0;
            font-size: 12px;
            text-align: center;
            font-weight: bold;
            background-color: rgba(208, 217, 233, .6);
        }

            #panel p {
                margin: 0;
                padding: 0px;
            }

            #panel.collapse {
                height: 25px;
                width: 100px;
                border: none;
                max-height: 25px;
                overflow: hidden;
                background: #fff;
                box-shadow: 0em 0 0.4em 0 rgba(15, 22, 33, 0.6);
                border-radius: 0.5em;
            }

            #panel.expand {
                width: 250px;
                height: auto;
                border: solid 1px #d0d9e9;
                max-height: 90%;
                overflow: auto;
            }

            #panel:hover {
                background-color: rgba(255, 255, 255, 1);
            }
        .H_ib_content {
            margin: 0;
        }
    </style>
</head>
<body id="markers-on-the-map">
    <div class="map-container-panel">
        <div class="map-container-panel-map" id="map"></div>
        <div class="map-container-panel-panel" id="panel"></div>
    </div>
    <script>
        const isMobile = {
            Android: function () {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function () {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

        var maneuvers = [];
        var markers = [];
        var features = @Html.Raw(ViewBag.Features);
        var coordinates = @Html.Raw(ViewBag.Coordinates);

        function switchMapLanguage(map, platform) {
            let defaultLayers = platform.createDefaultLayers({
                lg: 'pt'
            });

            map.setBaseLayer(defaultLayers.vector.normal.map);

            var ui = H.ui.UI.createDefault(map, defaultLayers, 'pt-BR');
            
            ui.removeControl('mapsettings');
        }

        function calculateRouteToDestinations(platform) {
            var router = platform.getRoutingService()
            var routeRequestParams = {
                mode: 'fastest;truck',
                representation: 'display',
                routeattributes: 'waypoints,summary,shape,legs',
                maneuverattributes: 'direction,action',
                language: 'pt-br'
            };

            var arrive = 1;
            for (var i = 0, length = features.length; i < length; i++) {
                routeRequestParams['waypoint' + i] = features[i].geometry.coordinates[1] + ',' + features[i].geometry.coordinates[0]
                var Marker = new H.map.Marker({ lat: features[i].geometry.coordinates[1], lng: features[i].geometry.coordinates[0] },
                    { data: { title: features[i].properties.title, address: features[i].properties.address } });

                if (arrive < length)
                    logEvent(arrive, (i + 1) + ' - ' + features[arrive].properties.title);

                arrive++;
                

                Marker.addEventListener('tap', function (evt) {
                    map.setCenter(evt.target.getGeometry());

                    var data = evt.target.getData();

                    openBubble(
                        evt.target.getGeometry(),
                        '<div style="min-width:250px;height:auto" class="H_rdo H_el">'+
                            '<div style="min-width:250px;height:auto" class= "H_rdo_title H_el">' + data.title + '</div>' +
                            '<div style="min-width:250px;height:auto" class="H_rdo_buttons H_el">' +
                                '<div style="min-width:250px;height:auto;padding:0 10px 5px 10px" class= "H_btn H_el" > ' + data.address + '</div>' +
                            '</div>' +
                        '</div> ');

                }, false);

                markers.push(Marker);

                map.addObject(Marker);
            }

            routeRequestParams['waypoint' + features.length] = features[0].geometry.coordinates[1] + ',' + features[0].geometry.coordinates[0]

            router.calculateRoute(
                routeRequestParams,
                onSuccess,
                onError
            );
        }

        function onSuccess(result) {
            var route = result.response.route[0];
            addRouteShapeToMap(route);
            addManueversToMap(route);

            addWaypointsToPanel(route.waypoint);
            addManueversToPanel(route);
            addSummaryToPanel(route.summary);
        }

        function onError(error) {
            alert('Can\'t reach the remote server');
        }
        
        var mapContainer = document.getElementById('map'),
            routeInstructionsContainer = document.getElementById('panel');

        routeInstructionsContainer.className = isMobile.any() ? 'collapse' : 'expand';
        var platform = new H.service.Platform({
            apikey: 'Az_cbe5PradmNIcFDm4DMlzxSfW5xvPav16kk9MM5vU'
        });

        var defaultLayers = platform.createDefaultLayers();
        
        var map = new H.Map(mapContainer,
            defaultLayers.vector.normal.map, {
                center: { lat: -10.0, lng: -55.0 },
                zoom: 100,
                pixelRatio: window.devicePixelRatio || 1
            });

        window.addEventListener('resize', () => map.getViewPort().resize());
        
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        var ui = H.ui.UI.createDefault(map, defaultLayers);
        
        var bubble;

        function openBubble(position, text) {
            if (!bubble) {
                bubble = new H.ui.InfoBubble(
                    position,
                    { content: text });
                ui.addBubble(bubble);
            } else {
                bubble.setPosition(position);
                bubble.setContent(text);
                bubble.open();
            }
        }


        function addRouteShapeToMap(route) {
            var lineString = new H.geo.LineString(),
                routeShape = route.shape,
                polyline;

            routeShape.forEach(function (point) {
                var parts = point.split(',');
                lineString.pushLatLngAlt(parts[0], parts[1]);
            });

            polyline = new H.map.Polyline(lineString, {
                style: {
                    lineWidth: 5,
                    strokeColor: 'rgba(0, 128, 255, 0.7)',
                    lineTailCap: 'arrow-tail',
                    lineHeadCap: 'arrow-head'
                }
            });

            outpolyline = new H.map.Polyline(lineString, {
                style: {
                    lineWidth: 7,
                    fillColor: 'rgba(0, 128, 255, 0.7)',
                    strokeColor: 'rgba(0, 128, 255, 0.7)',
                    lineDash: [0, 1],
                    lineTailCap: 'arrow-tail',
                    lineHeadCap: 'arrow-head'
                }
            });
            
            map.addObject(outpolyline);

            map.getViewModel().setLookAtData({
                bounds: polyline.getBoundingBox()
            });
        }


        function addManueversToMap(route) {
            var svgMarkup = '<svg width="18" height="18" ' +
                'xmlns="http://www.w3.org/2000/svg">' +
                '<circle cx="8" cy="8" r="8" ' +
                'fill="#1b468d" stroke="white" stroke-width="1"  />' +
                '</svg>',
                dotIcon = new H.map.Icon(svgMarkup, { anchor: { x: 8, y: 8 } }),
                group = new H.map.Group(),
                i,
                j;
            
            for (i = 0; i < route.leg.length; i += 1) {
                for (j = 0; j < route.leg[i].maneuver.length; j += 1) {
                    maneuver = route.leg[i].maneuver[j];
                    
                    var marker = new H.map.Marker({
                        lat: maneuver.position.latitude,
                        lng: maneuver.position.longitude
                    },
                        {
                            icon: dotIcon,
                            data: {
                                instruction: maneuver.instruction
                            }
                        });
                    marker.instruction = maneuver.instruction;
                    maneuvers.push(marker);
                    group.addObject(marker);
                }
            }

            group.addEventListener('tap', function (evt) {
                map.setCenter(evt.target.getGeometry());
                openBubble(
                    evt.target.getGeometry(), 
                    '<div style="min-width:250px;height:auto" class="H_rdo H_el">' +
                    '<div style="min-width:250px;height:auto" class= "H_rdo_title H_el">Instrução</div>' +
                    '<div style="min-width:250px;height:auto" class="H_rdo_buttons H_el">' +
                    '<div style="min-width:250px;height:auto;padding:0 10px 5px 10px" class= "H_btn H_el" > ' + evt.target.instruction + '</div>' +
                    '</div>' +
                    '</div> '
                    );
            }, false);

            // Add the maneuvers group to the map
            map.addObject(group);
        }


        function addWaypointsToPanel(waypoints) {
            var pElement = document.createElement('p');
            pElement.textContent = 'Rota das Entregas';

            pElement.addEventListener('click', function () {
                let classAdd = 'collapse';
                let classRemove = 'expand';
                if (routeInstructionsContainer.classList.contains('expand')) {
                    classAdd = 'collapse';
                    classRemove = 'expand';
                }
                else {
                    classAdd = 'expand';
                    classRemove = 'collapse';
                }

                routeInstructionsContainer.classList.remove(classRemove);
                routeInstructionsContainer.classList.add(classAdd);
            }, false);


            routeInstructionsContainer.innerHTML = '';
            routeInstructionsContainer.appendChild(pElement);
        }

        function addSummaryToPanel(summary) {
            var summaryDiv = document.createElement('div'),
                content = '';
            content += '<b>Distância estimada</b>: ' + summary.distance + 'm. <br/>';
            content += '<b>Tempo estimado</b>: ' + summary.travelTime.toMMSS();

            summaryDiv.style.fontSize = 'small';
            summaryDiv.style.marginTop = '8px';
            summaryDiv.style.marginLeft = '8px';
            summaryDiv.style.marginBottom = '5px';
            summaryDiv.style.textAlign = 'left';
            summaryDiv.innerHTML = content;
            logContainerDiv.appendChild(summaryDiv);
        }

        function addManueversToPanel(route) {
            var nodeOL = document.createElement('ol'),
                i,
                j;

            nodeOL.className = 'directions';
            
            for (i = 0; i < route.leg.length; i += 1) {
                for (j = 0; j < route.leg[i].maneuver.length; j += 1) {
                    maneuver = route.leg[i].maneuver[j];

                    var li = document.createElement('li'),
                        spanArrow = document.createElement('span'),
                        spanInstruction = document.createElement('span');

                    spanArrow.className = 'arrow ' + maneuver.action;
                    spanArrow.id = 'maneuverSpan-' + j;
                    spanInstruction.innerHTML = maneuver.instruction;
                    spanInstruction.id = 'maneuverInstruction-' + j;
                    li.appendChild(spanArrow);
                    li.appendChild(spanInstruction);
                    li.id = 'maneuverItem-' + j;
                    /*
                    li.addEventListener('click', function (evt) {
                        try {
                            let index = evt.srcElement.id.split('-')[1];
                            let marker = maneuvers[index];
                            let data = marker.getData();
                            map.setCenter(marker.getGeometry());
                            openBubble(
                                marker.getGeometry(),
                                '<div style="min-width:250px;height:auto" class="H_rdo H_el">' +
                                '<div style="min-width:250px;height:auto" class= "H_rdo_title H_el">Instrução</div>' +
                                '<div style="min-width:250px;height:auto" class="H_rdo_buttons H_el">' +
                                '<div style="min-width:250px;height:auto;padding:0 10px 5px 10px" class= "H_btn H_el" > ' + data.instruction + '</div>' +
                                '</div>' +
                                '</div> ');

                        } catch {
                        }

                    }, false);*/

                    nodeOL.appendChild(li);

                }
            }

            routeInstructionsContainer.appendChild(nodeOL);

        }

        function logEvent(index,  str) {
            var entry = document.createElement('li');
            entry.id = 'itemArrive-' + index;
            entry.className = 'log-entry';
            entry.textContent = str;
            entry.addEventListener('click', function (evt, target) {
                try {
                    let index = evt.srcElement.id.split('-')[1];
                    let marker = markers[index];
                    let data = marker.getData();
                    map.setCenter(marker.getGeometry());
                    openBubble(
                        marker.getGeometry(),
                        '<div style="min-width:250px;height:auto" class="H_rdo H_el">' +
                        '<div style="min-width:250px;height:auto" class= "H_rdo_title H_el">' + data.title + '</div>' +
                        '<div style="min-width:250px;height:auto" class="H_rdo_buttons H_el">' +
                        '<div style="min-width:250px;height:auto;padding:0 10px 5px 10px" class= "H_btn H_el" > ' + data.address + '</div>' +
                        '</div>' +
                        '</div> ');

                } catch {
                }

            }, false);

            logContainer.appendChild(entry, logContainer.firstChild);
        }
        
        var logContainerDiv = document.createElement('div');
        var logPTitle = document.createElement('p');
        logPTitle.append('Sequência de entregas');

        logContainerDiv.classList.add('logDiv');
        logContainerDiv.classList.add(isMobile.any() ? 'collapse' : 'expand');

        logPTitle.addEventListener('click', function () {
            let classAdd = 'collapse';
            let classRemove = 'expand';
            if (logContainerDiv.classList.contains('expand')) {
                classAdd = 'collapse';
                classRemove = 'expand';
            }
            else {
                classAdd = 'expand';
                classRemove = 'collapse';
            }

            logContainerDiv.classList.remove(classRemove);
            logContainerDiv.classList.add(classAdd);
        }, false);

        logContainerDiv.appendChild(logPTitle);

        var logContainer = document.createElement('ul');
        logContainer.className = 'log';
        logContainerDiv.appendChild(logContainer);

        map.getElement().appendChild(logContainerDiv);
        map.getElement().appendChild(routeInstructionsContainer);


        Number.prototype.toMMSS = function () {
            var hours = Math.floor(this / 3600);
            var minutes = Math.floor((this % 3600) / 60);
            var seconds = this % 60;

            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            hours = hours < 10 ? '0' + hours : hours;

            return hours + ":" + minutes;

            // return Math.floor(this / 60) + ' Minutos ' + (this % 60) + ' Segundos.';
        }

        calculateRouteToDestinations(platform);
        switchMapLanguage(map, platform);
        
    </script>

</body>
</html>