﻿@{
    ViewBag.Title = "Mapa das rotas";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Display a map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        <p>Features</p>
        <pre>
            @Html.Raw(ViewBag.Features)
        </pre>
    </div>
    <div>
        <p>Coordinates</p>
        <pre>
            @Html.Raw(ViewBag.Coordinates)
        </pre>
    </div>
    <div style="top:300px" id="map"></div>
    <script>
        console.log(@Html.Raw(ViewBag.Features))
        console.log(@Html.Raw(ViewBag.Coordinates))

        var jsonPoints = {
            "type": "FeatureCollection",
            "features": @Html.Raw(ViewBag.Features)
        }

        mapboxgl.accessToken = 'pk.eyJ1Ijoia2VubnltYWNrIiwiYSI6ImNrYXZieG94eDB3aTIyc2xlMWNlY3U5YjEifQ.ZB9WPuhtoeboNIJ6IMOh9g';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-47.405514,
            -22.59819],
            zoom: 15
        });

        map.on('load', function () {
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': @Html.Raw(ViewBag.Coordinates)
                    }
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#479aff',
                    'line-width': 8
                }
            });
            map.addSource('points', {
                'type': 'geojson',
                'data': jsonPoints
            });
            /*map.addLayer({
                'id': 'points',
                'type': 'symbol',
                'source': 'points',
'layout': {
// get the icon name from the source's "icon" property
// concatenate the name to get an icon from the style's sprite sheet
'icon-image': ['concat', ['get', 'icon'], '-15'],
// get the title name from the source's "title" property
'text-field': ['get', 'title'],
'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
'text-offset': [0, 0.6],
'text-anchor': 'top'
}
            });*/
            /*'#00d181'*/
            map.addLayer({
                'id': 'symbols',
                'type': 'symbol',
                'source': 'points',
                'layout': {
                    'icon-image': ['concat', ['get', 'icon'], '-15'],// 'marker-15',
                    'text-field': ['get', 'title'],
                    'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                    'text-offset': [0, 0.6],
                    'text-anchor': 'top'
                },
                "paint": {
                    // "text-size": 16,
                    "icon-color": "#00ff00",
                    "icon-halo-color": "#00d181",
                    "icon-halo-width": 2
                }
            });
            map.on('click', 'symbols', function (e) {
                map.flyTo({ center: e.features[0].geometry.coordinates });
            });

            // Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
            map.on('mouseenter', 'symbols', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'symbols', function () {
                map.getCanvas().style.cursor = '';
            });

        });
/*var marker = new mapboxgl.Marker({color: '#ebe017'})
.setLngLat([ -47.405514,
                    -22.59819])
.addTo(map);
var marker = new mapboxgl.Marker({color: '#00d181'})
.setLngLat([ -47.422697,
                    -22.566809])
.addTo(map);
var marker = new mapboxgl.Marker({color: '#00d181'})
.setLngLat([  -47.404627,
                    -22.560408])
.addTo(map);
var marker = new mapboxgl.Marker({color: '#00d181'})
.setLngLat([  -47.405799,
                    -22.562091])
.addTo(map);
var marker = new mapboxgl.Marker({color: '#00d181'})
.setLngLat([  -47.407147,
                    -22.594295])
.addTo(map);
var marker = new mapboxgl.Marker({color: '#00d181'})
.setLngLat([ -47.421535,
                    -22.592597])
.addTo(map);
var marker = new mapboxgl.Marker({color: '#00d181'})
.setLngLat([ -47.430831,
                    -22.581226])
                    .addTo(map);*/
    </script>

</body>
</html>