﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col-table {
    border-top: none !important;
}

.row-table {
    border-top: 1px solid #ddd;
}


.modal {
    display: block;
    position: fixed;
    z-index: 70;
    padding-top: 6.25rem; /* 100px */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: all 600s linear;
    -moz-transition: all 600s linear;
    -webkit-transition: all 600s linear;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.lds-facebook {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
}

    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-facebook div:nth-child(1) {
            left: 6px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2) {
            left: 26px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3) {
            left: 45px;
            animation-delay: 0;
        }

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }

    50%, 100% {
        top: 19px;
        height: 26px;
    }
}

